# this function is from https://github.com/direnv/direnv/issues/1338
# maybe one day there will be a more official version

layout_uv() {
    if [[ -d "$UV_PROJECT_ENVIRONMENT" ]]; then
        log_status "Existing project virtual environment \'$UV_PROJECT_ENVIRONMENT\'"
    else
        log_status "No project virtual environment exists."

        if [[ ! -f "pyproject.toml" ]]; then  # No project in-place
            log_status "Initializing a new Python project via \`uv init\`."
            uv init --no-readme
        else
            log_status "Python project already initialized. Skipping \`uv init\`."
        fi
        [[ -f "hello.py" ]] && rm hello.py  # a file created by `uv init`

        if [[ ! -z "$UV_PROJECT_ENVIRONMENT" ]]; then
            log_status "Project virtual environment path set to : $UV_PROJECT_ENVIRONMENT"
            uv venv "$UV_PROJECT_ENVIRONMENT"
        else
            uv venv
            UV_PROJECT_ENVIRONMENT="$(pwd)/.venv"
        fi
    fi

    PATH_add "$UV_PROJECT_ENVIRONMENT/bin"
    export UV_ACTIVE=1  # or VENV_ACTIVE=1
    export UV_PROJECT_ENVIRONMENT
}

export UV_PROJECT_ENVIRONMENT=.venv
dotenv
layout uv