<!-- templates/index.html -->
<!-- based on https://testdriven.io/blog/fastapi-htmx/-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <title>FastAPI + HTMX</title>
  <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>
<body>
    <ul id="todos" hx-get="/htmx/todos" hx-swap="innerHTML" hx-trigger="load"></ul>
    <form hx-post="/htmx/todos" hx-target="#todos" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset()">
        <input type="text" name="todo" placeholder="I'd like to...">
        <button>Create</button>
      </form>

</body>
</html>
